*{
    box-sizing: border-box;
    
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{
    font-size: 1.25em; 
}
ul{list-style: none;}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'roboto', sans-serif;
    margin: 0;
}

button{
    font-size: 2em ;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0,0, 0.5); 
    box-shadow: 2px 2px 10px rgba(0, 0,0, 0.5);
    color: white;
    background-color: blueviolet;

}
button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 1400px;
    margin: auto;
}
.color-acento{
    color: blueviolet;
}
header{
    background-color: rgb(245,245, 245)
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}    
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover{
    color: blueviolet;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/fp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: white;
}
#hero button{
    font-size: 1.75em;
}
#sobreMI{

}
#sobreMi .container{
    text-align: center;
    height: 100vh;
    padding: 200px 12px;

}

#Conocimiento{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}
#Conocimiento .container{
    padding: 150px 0px;
}
#Conocimiento h2{
    margin-top: 0;
    font-size: 3em;

}
#Conocimiento p{
    display: none;
}
#Conocimiento.carta{
    background-position: center center;
    background-size: cover;
    padding: 30px 0px;
    margin: 10px;
    border-radius: 80px;
    
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/html2.jpg");
    background-position: center center;
    background-size: cover;
    
    border-radius: 80px;
    

}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/php.jpg");
    border-radius: 80px;
}
.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/css.jpg");
    
    border-radius: 80px;
}

#cualidades .container{

    text-align: center;
    padding: 250px 12px;


}
#cualidades li{
    margin: 16px 0px;
    font-weight: bold;
}

#llamar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;


}

#llamar h2{
    font-size: 9vw;
}
#llamar button{
    font-size: 1.75em;
}
footer{
    background-color: rgb(230,230,230);

}
footer p{
    margin: 0;
    color: rgb(100,100,100);
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
footer a{
    display: flex;
    justify-content: left; 
    align-items: flex-end;
    padding-left: 20px;
    font-weight: bold;
    
}
@media(min-width: 720px){

    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;

    }
    #sobreMI .container{
        display: flex;
        justify-content: center;

    }
    #sobreMI .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #sobreMI h2{
        margin-top: 0px;
    }
    #sobreMI p{
        
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }
    #sobreMI .img-container{
        background-image: url("img/denji.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
        
    }


}